{
  "presets": [
    ["@babel/preset-react"],
    ["@babel/preset-env"]
  ],
  "plugins": [
    [
      "@babel/plugin-proposal-class-properties",
      {
        "loose": true
      }
    ],
    ["@babel/plugin-syntax-import-meta", {
     "libraryName": "antd",
     "libraryDirectory": "es",
     "style": "css"
   }]

  ]
}
